@model FedChoice_Bank.Models.Account
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrlastDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrlastDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
    @ViewBag.message         |
    @ViewBag.ErrorMessage    |
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="DeleteSearch">Back to Delete Search</a>|
        <a asp-action="Index">Back to List</a>

    </form>
</div>
