@model FedChoice_Bank.Models.Account
@{
    ViewData["Title"] = "Transfer";
    Layout = "~/Views/Shared/_Layouttwo.cshtml";
}


<div class="divCenter">
    <form asp-controller="Accounts" asp-action="Transfer1" method="get">
        <table class="tableDesign" align="center">

            <tr>
                <td colspan="2"><h3 class="h3Design">Deposit Amount</h3></td>
            </tr>
            <tr>
                <td class="tdDesign">@Html.DisplayNameFor(model => model.CustomerId)</td>
                <td class="tdDesign">@Html.DisplayFor(model => model.CustomerId)</td>
            </tr>
            <tr>
                <td class="tdDesign">@Html.DisplayNameFor(model => model.AccountId)</td>
                <td class="tdDesign">@Html.DisplayFor(model => model.AccountId)</td>
            </tr>
            <tr>
                <td class="tdDesign">@Html.DisplayNameFor(model => model.AccountType)</td>
                <td class="tdDesign">@Html.DisplayFor(model => model.AccountType)</td>
            </tr>
            <tr>
                <td class="tdDesign">@Html.DisplayNameFor(model => model.Balance)</td>
                <td class="tdDesign">@Html.DisplayFor(model => model.Balance)</td>
            </tr>
            <tr>
                <td class="tdDesign"><label class="form-label"> Source Account ID : </label></td>
                <td class="tdDesign"> <input type="text" name="id1" /></td>
            </tr>
            <tr>
                <td class="tdDesign"><label class="form-label"> Destination Account ID :  </label></td>
                <td class="tdDesign"><input type="text" name="id2" /></td>
            </tr>
            <tr>
                <td class="tdDesign"><label class="form-label"> Transfer amount : </label></td>
                <td class="tdDesign"><input type="text" name="val" /></td>
            </tr>
            <tr>
                <td class="tdButtonDesign" colspan="2">  <input type="submit" value="Transfer" class="buttonDesign" /> </td>
            </tr>


            <tr>
                <td class="tdDesign text-danger">
                    @ViewBag.message
                </td>
                <td class="tdDesign text-danger">
                    @ViewBag.ErrorMessage
                </td>
            </tr>
        </table>
        <a asp-action="Index">Back to Account Home</a>
    </form>

</div>


