@model IEnumerable<FedChoice_Bank.Models.Transactions>

@{
    ViewData["Title"] = "TransactionReport";
}

<h1>TransactionReport</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetAccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetAccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetAccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
            </tr>
        }
    </tbody>
</table>
