@model FedChoice_Bank.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="divCenter">
    <table class="tableDesign" align="center">
        <tr>
            <td colspan="2"><h3 class="h3Design">Details Of Customer</h3></td>
        </tr>
        <tr>
            <td class="tdDesign">@Html.DisplayNameFor(model => model.CustomerSsn)</td>
            <td class="tdDesign">@Html.DisplayFor(model => model.CustomerSsn)</td>
        </tr>
        <tr>
            <td class="tdDesign">@Html.DisplayNameFor(model => model.CustomerId)</td>
            <td class="tdDesign">@Html.DisplayFor(model => model.CustomerId)</td>
        </tr>
        <tr>
            <td class="tdDesign">@Html.DisplayNameFor(model => model.CustomerName)</td>
            <td class="tdDesign">@Html.DisplayFor(model => model.CustomerName)</td>
        </tr>
        <tr>
            <td class="tdDesign">@Html.DisplayNameFor(model => model.Age)</td>
            <td class="tdDesign">@Html.DisplayFor(model => model.Age)</td>
        </tr>
        <tr>
            <td class="tdDesign">@Html.DisplayNameFor(model => model.Address)</td>
            <td class="tdDesign">@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <td class="tdDesign">@Html.DisplayNameFor(model => model.State)</td>
            <td class="tdDesign">@Html.DisplayFor(model => model.State)</td>
        </tr>
        <tr>
            <td class="tdDesign">@Html.DisplayNameFor(model => model.City)</td>
            <td class="tdDesign">@Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <td class="tdDesign text-danger">
                @ViewBag.message
            </td>
            <td class="tdDesign text-danger">
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td colspan="2"><a asp-action="Search">Back to Search</a></td>
        </tr>
    </table>
</div>

