@model FedChoice_Bank.Models.Customer

@{
    ViewData["Title"] = "Edit";
}



<div class="divCenter">
    <form asp-action="edit">
        <div class="form-group">
            <table class="tableDesign" align="center">
                <tr>
                    <td colspan="3"><h3 class="h3Design">Edit Customer</h3></td>
                </tr>
                <tr>
                    <td class="tdDesign"><strong>Old Customer ID:</strong></td>
                    <td class="tdDesign">@Html.DisplayFor(model => model.CustomerId)</td>
                    <td class="tdDesign"></td>
                </tr>
                <tr>
                    <td class="tdDesign"><label asp-for="CustomerId" class="control-label"></label></td>
                    <td class="tdDesign"><input asp-for="CustomerId" class="form-control" /></td>
                    <td class="tdDesignValidate"><span asp-validation-for="CustomerId" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><strong>Old Customer SSNID:</strong></td>
                    <td>@Html.DisplayFor(model => model.CustomerSsn)</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdDesign"><label asp-for="CustomerSsn" class="control-label"></label></td>
                    <td class="tdDesign"><input asp-for="CustomerSsn" type="text" class="form-control" /></td>
                    <td class="tdDesignValidate"><span asp-validation-for="CustomerSsn" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><strong>Old Customer Name:</strong></td>
                    <td>@Html.DisplayFor(model => model.CustomerName)</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdDesign"><label asp-for="CustomerName" class="control-label"></label></td>
                    <td class="tdDesign"><input asp-for="CustomerName" type="text" class="form-control" /></td>
                    <td class="tdDesignValidate"><span asp-validation-for="CustomerName" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><strong>Old Age:</strong></td>
                    <td>@Html.DisplayFor(model => model.Age)</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdDesign"><label asp-for="Age" class="control-label"></label></td>
                    <td class="tdDesign2"><input asp-for="Age" type="text" class="form-control" /></td>
                    <td class="tdDesignValidate"><span asp-validation-for="Age" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><strong>Old Address:</strong></td>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdDesign"><label asp-for="Address" class="control-label"></label></td>
                    <td class="tdDesign"><textarea asp-for="Address" id="address" class="form-control" rows="2" cols="15"></textarea></td>
                    <td class="tdDesignValidate"><span asp-validation-for="Address" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><strong>Old State:</strong></td>
                    <td>@Html.DisplayFor(model => model.State)</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdDesign"><label asp-for="State" class="control-label"></label></td>
                    <td class="tdDesign"><input asp-for="State" type="text" class="form-control" /></td>
                    <td class="tdDesignValidate"><span asp-validation-for="State" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><strong>Old City:</strong></td>
                    <td>@Html.DisplayFor(model => model.City)</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdDesign"><label asp-for="City" class="control-label"></label></td>
                    <td class="tdDesign"><input asp-for="City" type="text" class="form-control" /></td>
                    <td class="tdDesignValidate"><span asp-validation-for="City" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdButtonDesign" align="left">
                        <span class="form-group" method="get">
                            <input type="submit" value="Save" class="buttonDesign" />
                        </span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdDesign" colspan="3"> <a asp-action="EditSearch">Cancel</a></td>
                </tr>
            </table>
        </div>
    </form>
</div>
