@model FedChoice_Bank.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
 
<div class="row">
    <div class="col-md-4">
        <form asp-action="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="row">
                <dt >
                    CustomerId
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.CustomerId)
                </dd>
            </dl>

            <dl class="row">
                <dt >
                    @Html.DisplayNameFor(model => model.CustomerSsn)
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.CustomerSsn)
                </dd>
            </dl>
            <dl class="row">
                <dt >
                    Old Customer Name
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>

            </dl>

            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>

            <dl class="row">
                <dt >
                    Old Age
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.Age)
                </dd>

            </dl>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <dl class="row">
                <dt >
                    Old Address
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.Address)
                </dd>

            </dl>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <dl class="row">
                <dt >
                    Old State
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.State)
                </dd>

            </dl>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <dl class="row">
                <dt >
                    Old City
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.City)
                </dd>
            </dl>  
           
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group" method="get">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-action="EditSearch">Cancel</a>|
    <a asp-action="Index">Back to List</a>
</div>

